
/* Banner section */

.hero-area .block img {
  height: 2.5em;
  margin-bottom: 20px;
}

@media (max-width: 480px) {
  .hero-area .block p {
    font-size: 60px;
  }
}

.hero-area .block p {
  width: 100%;
  font-size: 1.5em;
}

/* Contact section */

.form-meghna input:hover,
.form-meghna textarea:hover,
#contact-submit:hover {
  border-color: #F5A2A9;
}

#contact-submit {
  background: #21429bff;
}

/* Footer section */

.social-icon ul li a:hover {
  background: #21429bff;
}