/* Basic Setup */

body {
  font-family: 'PT Mono', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'PT Mono', monospace;
}

p {
  font-family: 'PT Mono', monospace;
}

.border-meghna:before {
  background-color: #F5A2A9;
}

.title h2 span {
  color: #F5A2A9;
}

.color {
  color: #F5A2A9;
}

.btn-transparent:hover,
.btn-transparent:focus {
  background-color: #21429bff;
}

.bg-one {
  background-color: #353b43;
}

/* Banner section */

.hero-area .block img {
  height: 2.5em;
  margin-bottom: 20px;
}

@media (max-width: 480px) {
  .hero-area .block p {
    font-size: 60px;
  }
}

.hero-area .block p {
  width: 100%;
  font-size: 1.5em;
}

/* Navigation section */

.navigation {
  background-color: #21429bff;
}

.navbar-brand img {
  height: 32px;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
  color: #F5A2A9;
}

/* Contact section */

.form-meghna input:hover,
.form-meghna textarea:hover,
#contact-submit:hover {
  border-color: #F5A2A9;
}

#contact-submit {
  background: #21429bff;
}

/* Footer section */

.social-icon ul li a:hover {
  background: #21429bff;
}

.powered p {
  margin-top: 5px;
  font-size: 0.75em;
}