{{ $data := index .Site.Data .Site.Language.Lang }}

{{ with $data.how.spec }}
{{"<!-- Start Pricing section -->" | safeHTML}}
<section id="how" class="pricing section">
  <div class="container">
    <div class="row justify-content-center">

      {{"<!-- section title -->" | safeHTML}}
      <div class="col-lg-12">
        <div class="title text-center wow fadeInDown" data-wow-duration="500ms">
          <h2>{{ with .title }} {{ delimit (first (sub (countwords .) 1)  (split . " ")) " " }} {{ end }}<span
              class="color">
              {{ with .title }} {{ index (last 1 (split . " ")) 0 }} {{ end }}</span></h2>
          <div class="border-meghna"></div>
        </div>
      </div>
      {{"<!-- /section title -->" | safeHTML}}

      {{ range .bookings }}
      {{"<!-- single pricing table -->" | safeHTML}}
      <div class="col-lg-4 col-md-6 col-12 text-center wow fadeInUp" data-wow-duration="200ms">
        <a class="block-link block-link-transparent" href="{{ .link | safeURL }}">
          <div class="block-link block-link-transparent price-item">
            {{"<!-- plan name & value -->" | safeHTML}}
            <div class="price-title">
              <h3>{{ .name }}</h3>
              <p><strong class="value">{{ .price }}</strong> / {{ .unit }}</p>
            </div>
          </div>
        </a>
      </div>
      {{"<!-- end single pricing table -->" | safeHTML}}
      {{ end }}
    </div>
  </div>
</section>
{{"<!-- /pricing -->" | safeHTML}}
{{ end }}